@{
    ViewBag.Title = "About";
}


<div class="container" style="background-color: #FFF; margin-bottom: 20px">

    <div class="container">
        <h3 class="text-info">About Us</h3>
    </div>


    <div class="container-fluid liner">
    </div>
    <div class="container"
         style="padding-top: 20px">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">


                    <p>
                        <span class="fa fa-github"></span> Jobs from Github want to help you find the latest tech jobs in town. Our site displays job vacancies from Github job API.<br/> Feel Free to Apply
                    </p>


                </div>
            </div>

        </div>

    </div>
</div>