@model  GitHubJobs.Interface.ViewModels.IJobModelView
@{

    ViewBag.Title = "Home Page";
}


<!-- Page Header -->
<!-- This Goes to Home Page -->
<header class="masthead mt-0" style="background-image: url('Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <h1 class="site-heading mb-0">Do you need a job? Find the best jobs on Github</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-5">
                                <input type="input" class="form-control form-control-lg" name="description"
                                       placeholder="Data Scientist">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="fa  fa-search"></span> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="jobs">
    <div class="container">


        <div class="row mb-4">

            @foreach (var job in Model.Jobs)
            {
                <div class="col-6 my-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-dark-blue">@job.Title</h4>
                                <p class="mb-1 text-black">
                                    <span class="fa fa-briefcase "></span> @job.Company
                                </p>
                                <p class="mb-1 text-black">
                                    <span class="fa fa-map-marker"></span> @job.Location
                                </p>
                                <p class="text-right">
                                    <a href="">Learn more &gt &gt</a>
                                </p>
                            </div>
                        </div>
                    </a>

                </div>
            }



        </div>


    </div>

</section>