@model  GitHubJobs.Interface.ViewModels.IJobsViewModel
@{

    ViewBag.Title = "Home Page";
}


<!-- Page Header -->
<!-- This Goes to Home Page -->
<header class="masthead mt-0" style="background-image: url('Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <h1 class="site-heading mb-0">Do you need a job? Find the best jobs on Github</h1>
                </div>
                <div class="col-md-12  ">
                    @using (Html.BeginForm("Index", "Job", FormMethod.Get))
                    {
                        <div class="form-row">
                            <div class=" col-md-6 mb-2 mb-md-5">
                                <input type="text" class="form-control form-control-lg" name="description"
                                       placeholder="Data Scientist">
                            </div>
                            <div class=" col-md-3 mb-2 mb-md-5">
                                <input type="text" class="form-control form-control-lg" name="location"
                                       placeholder="Location">
                            </div>

                            <div class=" col-md-2 mb-2 mb-md-5">
                                <select class="form-control form-control-lg" name="fulltime">
                                    <option value="true">Full Time</option>
                                    <option value="false">Part Time</option>
                                </select>
                            </div>
                            <div class=" col-md-1">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="fa  fa-search"></span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

@JobsDisplayHelper.JobsDisplay(Model)