@model  GitHubJobs.Interface.ViewModels.IJobModelView
@{
    ViewBag.Title = "Jobs Listing";
}
<section id="display-header">
    <h3 class="text-center my-2"> Hot Jobs Listing</h3>
    <hr/>
</section>

@JobsDisplayHelper.JobsDisplay(Model)

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12 pull-right">
            @Html.ActionLink("More Jobs", "Index", "Job", new {page = Model.Page}, new {@class = "btn btn-primary"})
        </div>
    </div>
</div>